
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  padding:0;
  margin: 0;
  color: white;
  
  font-family: 'Inter', sans-serif;
}
body{
    width:100vw;
    height: 100vh;
}
.head-container {
  height: 10%;
  width: 100%;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-block1 {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.inputblock {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
}
.inputblock input {
  background-color: #0f0f0f;
  border: 1px solid #303030;
  outline: none;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}
.search-icon:hover{
  background-color: #716d6d;
}
.head-block2 {
  display: flex;
  align-items: center;
  height: 70%;
  width: 40%;
}
.fa-magnifying-glass {
}
.search-icon {
  width: 12%;
  height: 100%;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mic {
  width: 8%;
  height: 100%;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-block3 > a > img:hover {
  background-color: rgb(106, 108, 109);
}

main {
  height: 90%;
  width: 100%;
  display: flex;
  background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  .left {
  background-color:#212121; 
  height: 100%;
  flex: 0.7;
  font-family: 'Roboto', sans-serif;
  color:white;
  font-size: 13px;
  overflow-x:scroll;
  
}

.left-block1{
  width:210px;

}
.nv-block{
  width:100%;
  height:40px;

  display: flex;
  align-items: center;
  gap:10px;
  /* padding-left:24px;  */ 
}
.nv-block:hover{
  background-color: #303030;
}
.hicon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:24px;
}
.hdesc a{
  text-decoration: none;
}

.divider{
  border-bottom: 1px solid #303030;
  width:210px;
  margin:15px 0px;
}

.subs{
  color: #AAAAAA;
}

.left-lastblock{
  margin-bottom: 20px;
}







.right {
  height: 100%;
  flex: 3.3;
  /* background-color: aquamarine; */
  overflow: auto;
}
 .right-block1 {
  height: 10%;
  width:100%;
  background-color: #212121;
  border-top: 1px solid #3b3a3a;
  display: flex;
  align-items: center;
  
} 
 .r-b1 {
  width: 93%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
} 
*::-webkit-scrollbar {
  display: none;
}

 .item {
  width: 53px;
  height: 18px;
  padding: 8px 12px 8px 12px;
  border-radius: 32px;
  border: 0.30000001192092896px solid ;
  gap: 10px;
  margin-right: 10px;
  
} 
 .r-b2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 7%;
} 
.item1{
  background-color: white;
  color:#0f0f0f;
  width: 53px;
  height: 22px;
  padding: 8px 12px 8px 12px;
  border-radius: 32px;
  border: 0.30000001192092896px solid ;
  gap: 10px;
  margin-right: 10px;
}

.right-block2{
  height:90%;
  width:96.3%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap:15px;
  grid-row-gap: 40px;
  overflow-y:scroll ;
  overflow-x: scroll;
  padding:20px;
}
.video-image img{
  width:100%;
  height:150px;
}
.videocard{
  width:100%;
  height:100%;
}
.video-desc{
  display:flex;
  margin-top:7px;
  width:100%;
}
.description{
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 5px;
}
.ch-name, .views{
  font-size:11px;
  color:grey;
}
 .vch-desc{

  margin-left:10px;
  margin-right:10px;
 }
.ch-logo img{
  width:46px;
  height:46px;
  border-radius: 50%;
}

/* chanell-page */
.ch_r-blk1{
  width:85%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.ch_logo-desc{
  display: flex;
  align-items: center;
  gap:10px;
}
.ch__user_name{
  font-size: 24px;
}
.s-count{
  font-size: 14px;
  color:grey
}
.subs-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.subs-btn button{
  background-color: #CC0000;
  width:116px;
  height:36px;
  border:none;
  border-radius: 2px;
  font-size:14px ;
  font-weight: 700;
}

.ch_right-block1{
  background-color: rgb(24,24,24);
}
.ch-nav-b1{
  padding:0px 20px ;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ch-nav-b1:hover{
  background-color: #303030;
  cursor:pointer;
}

.ch_navbar-b1{
  display: flex;
  align-items: center;
}
.ch_navbcontainer{
  width:85%;
  margin:0px auto;
  /* background-color: rgb(94, 73, 46); */
}
.arrow_end{
 padding:0px 50px ; 
  height: 48px;
  display: flex; 
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
}
.ch_right-block2{
  height:285px;
  /* background-color: beige; */
  width:100%;
  padding:10x 0px;
  
}
.ch_right-b2-container{
  width:85%;
  height: 100%;
  margin:0px auto;
  /* background-color: aquamarine; */
  /* padding:10px 0px; */
  display: flex;
  gap:10px;
  border-bottom: 1px solid #303030;
}
.right-image, .right-bl2-desc1{
  margin: auto 0px; 
}
.right-bl2-desc1{
  width: 400px;
  height: 238px;
}

.right-video-views{
  margin:20px 0px;
  color:#6f6e6e
}
.check{
  height:10px;
  width:100%;

}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
